<h3>{% trans %}Get in touch{% endtrans %}</h3>

<form method="post" action="/content/action" class="contact-form">
    <fieldset>
        <label>
            <span class="hidden">{% trans %}Sender name{% endtrans %}</span>
            <label for="ContentObjectAttribute_ezstring_data_text_{{ content.contentType.fieldDefinitions[2].id }}"></label>
            <input class="box " type="text" size="70" name="ContentObjectAttribute_ezstring_data_text_{{ content.contentType.fieldDefinitions[2].id }}" value="" placeholder="{% trans %}Sender name{% endtrans %}">
        </label>
        <label>
            <span class="hidden">{% trans %}Email{% endtrans %}</span>
            <label for="ContentObjectAttribute_ezstring_data_text_{{ content.contentType.fieldDefinitions[5].id }}"></label>
            <input class="box " type="text" size="70" name="ContentObjectAttribute_ezstring_data_text_{{ content.contentType.fieldDefinitions[5].id }}" value="" placeholder="{% trans %}Email{% endtrans %}">
        </label>
        <label>
            <span class="hidden">{% trans %}Subject{% endtrans %}</span>
            <label for="ContentObjectAttribute_ezstring_data_text_{{ content.contentType.fieldDefinitions[4].id }}"></label>
            <input class="box " type="text" size="70" name="ContentObjectAttribute_ezstring_data_text_{{ content.contentType.fieldDefinitions[4].id }}" value="" placeholder="{% trans %}Subject{% endtrans %}">
        </label>
        <label>
            <span class="hidden">{% trans %}Message{% endtrans %}</span>
            <label for="ContentObjectAttribute_ezstring_data_text_{{ content.contentType.fieldDefinitions[4].id }}"></label>
            <textarea class="box " type="text" cols="70" name="ContentObjectAttribute_ezstring_data_text_{{ content.contentType.fieldDefinitions[4].id }}" rows="10" placeholder="{% trans %}Message{% endtrans %}"></textarea>
        </label>
        <div class="actions">
            <button type="submit" class="btn btn-mini btn-warning pull-right" name="ActionCollectInformation">{% trans %}Send{% endtrans %}</button>
            <input type="hidden" name="ContentNodeID" value="{{ content.mainLocationId }}" />
            <input type="hidden" name="ContentObjectID" value="{{ content.contentInfo.mainLocationId }}" />
            <input type="hidden" name="ViewMode" value="full" />
        </div>
    </fieldset>
</form>


