{% extends "eZDemoBundle::pagelayout.html.twig" %}

{% block navbar %}
    {% set contentId = content.contentInfo.id %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="attribute-header">
    <h1 class="long">Loading content #{{ content.contentInfo.id }}: {{ ezpublish.contentView( content ) }}</h1>
</div>

<div>
{% for field in content.getFields() %}
    <div>
        <strong>{{field.fieldDefIdentifier}}: </strong>{{ ezpublish.fieldView( field )|raw }}
    </div>
{% endfor %}
</div>
{% endblock %}
