{% extends "eZDemoBundle::pagelayout.html.twig" %}

{% block navbar %}
    {% set contentId = content.contentInfo.id %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="attribute-header">
    <h1 class="long">Loading content #{{ content.contentInfo.id }}: {{ content.contentInfo.name }}</h1>
</div>

<div>
{% for fieldName, field in content.fields %}
    <strong>{{ fieldName }}:</strong>
    {% for lang, data in field %}
        {{ lang }}: {{ data|raw }}<br />
    {% endfor %}
{% endfor %}
</div>
{% endblock %}
