{% extends "eZDemoBundle::pagelayout.html.twig" %}

{% block navbar %}
    {% set contentId = content.contentInfo.id %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="attribute-header">
    <h1 class="long">Loading content #{{ content.contentInfo.id }}: {{ content.contentInfo.name }}</h1>
</div>

<div>
    <h3>Name:</h3>
    {{ ez_render_field(
           content,
           "name",
           {
               'editMode': true,
               'attr': { 'class': 'foobar' }
           }
       )
    }}

    <h3>Description:</h3>
    {{ ez_render_field(
           content,
           "description",
           {
               'editMode': true
           }
       )
    }}
</div>
{% endblock %}
